body {
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
}

a.road {
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    margin: 4px 0;
    padding: 0;
    color: #fff;
    background-color: #fff;
    -webkit-mask: url(images/Anfart.svg) no-repeat 0 0;
    mask: url(images/Anfart.svg) no-repeat 0 0;
    width: 24%;
    min-height: 80px;
    text-indent: -9999px;
    transition: background-color 0.3s;
}

a.road.active,
a.road:hover {
    background-color: #f11c1c;
}

a.road.Ausfart {
    -webkit-mask-image: url(images/Ausfart.svg);
    mask-image: url(images/Ausfart.svg);
}

a.road.Intersection {
    -webkit-mask-image: url(images/Intersection.svg);
    mask-image: url(images/Intersection.svg);
}

a.road.Roundabout {
    -webkit-mask-image: url(images/Roundabout.svg);
    mask-image: url(images/Roundabout.svg);
}

a.road.TurnLeft {
    -webkit-mask-image: url(images/TurnLeft.svg);
    mask-image: url(images/TurnLeft.svg);
}

a.road.TurnRight {
    -webkit-mask-image: url(images/TurnRight.svg);
    mask-image: url(images/TurnRight.svg);
}

a.road.YIntersection {
    -webkit-mask-image: url(images/YIntersection.svg);
    mask-image: url(images/YIntersection.svg);
}

a.road.PlayPause {
    -webkit-mask-image: url(images/PlayPause.svg);
    mask-image: url(images/PlayPause.svg);
}

h3 {
    font-size: 60px;
}

h3 span {
    color: #f11c1c;
    text-transform: lowercase;

}

h1 {
    font-size: 18px;
    color: #333;
}